<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script>
        function onSubmit(token) {
            window.ReactNativeWebView.postMessage(JSON.stringify({ token }));
        }

        function renderRecaptcha() {
            grecaptcha.render('recaptcha-container', {
                sitekey: '${sitekey}',
                size: 'invisile',
                theme: 'dark',
                callback: onSubmit
            });
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        html,
        body,
        .container {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: transparent;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .grecaptcha-badge {
            display: none
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="recaptcha-container"></div>
    </div>
</body>

</html>